<div id="contact-content" class="row">
    <div class="span6">
        <legend>Me puedes encontrar en:</legend>
        <ul class="inline">
            <li>
                <a href="http://www.facebook.com/alfons.foubertbellafont"><img src="img/icons/facebook.png" alt="Facebook"></a>
            </li>
            <li>
                <a href="http://twitter.com/D3r3ck_">
                    <img src="img/icons/twitter.png" alt="Twitter">
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/pub/alfons-foubert-bellafont/28/615/ab1">
                    <img src="img/icons/linkedin.png" alt="Linkedin">
                </a>
            </li>
            <li>
                <a href="http://plus.google.com/115104421622882337617">
                    <img src="img/icons/googleplus.png" alt="Google +">
                </a>
            </li>
        </ul>
    </div>
    <div class="span6">
        <form action="" method="post">
            <fieldset>
                <legend>Y si eres un clásico, como yo, aquí tienes:</legend>
                <label for="sender-name">Nombre</label>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input type="text" required="required" name="name" placeholder="¿Quien eres?">
                </div>
                <label for="sender-contact">
                    <ul class="select-links">
                        <li data-icon="icon-envelope" class="active">E-mail</li>
                        <li class="muted">/</li>
                        <li data-icon="icon-hdd">Teléfono</li>
                    </ul>
                </label>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input type="text" required="required" name="contact" placeholder="¿Como contacto contigo?">
                </div>
                <label for="sender-message">Mensaje</label>
                <textarea class="input-xxlarge" required="required" name="message" rows="5" placeholder="¿Que quieres?"></textarea>
                <button type="submit" class="btn btn-success">Enviar Mensaje</button>
            </fieldset>
        </form>
    </div>
</div>