<div class="stain row">
	<div class="span12">
		<p class="citation">Entrenado en el arte del desarrollo, soy un maestro de los algoritmos, hábil con el ratón y mortal con un teclado</p>
	</div>
	<div class="span8">
		<p>
			Hasta ahora ya habréis notado que soy un programador algo <span class="computed">geek</span>.
		</p>
		<p class="cep">
			Nacido y criado en Barcelona, fui a la escuela como muchos otros. Siempre destaqué
			en matemáticas, física, ... y sufría con historia, cosa curiosa, ya que actualmente 
			me gusta bastante. Desde pequeño siempre me interesó la informática así que decidí
			estudiar programación en el Centre d'estudis Politècnics donde conseguí el título de
			<span class="important">Técnico superior</span>.
		</p>
		<p class="nexus">
			Mi aventura al desarrollo comenzó en <span class="important">Nexus Energía</span>, una comercializadora eléctrica
			en la que entré en prácticas. Allí trabajábamos en <span class="computed">Visual Basic .NET</span>, asi que hice
			el máster en .NET en la escuela Soft Obert. Hacíamos aplicaciones internas,
			que llevaban la contabilidad, la facturación o incluso las estimaciones que se les
			hace a los clientes.
		</p>
		<p class="cirsa">
			Poco más tarde, me llamaron de <span class="important">CIRSA</span> y estuve 3 años programando videojuegos de
			lotería electrónica en <span class="computed">C/C++</span>. Durante esta época también conocí a la panda de impresentables,
			que aún a día de hoy, llamo amigos y me siguen soportando.
		</p>
		<p class="oys">
			Al cabo de un tiempo intenté darle una oportunidad a las consultorías y entré en
			<span class="important">O&S Consultores</span>, donde a parte de algún trabajo esporádico de Java trabajábamos
			en la <span class="computed">ERP Deister</span>, pero al año lo dejé porque descubrí que las ERP's y yo, no nos llevamos bien.
		</p>
		<p>
			Y por último, tras el consejo de un compañero, decidí darle una oportunidad a ser <span class="important">Freelance</span>.
			Lo que más solicitaban mis clientes eran webs y he de reconocer que me encantó el mundo web.
			Así que me especialicé en <span class="computed">HTML, PHP, Javascript, ...</span> y a día de hoy ya he arrancado más 10 proyectos web 
			y he realizado mejoras en otros tantos.
		</p>
	</div>
	<div class="profile offset1 span3">
		<span class="portrait"><span class="photo"></span></span>
		<dt>Me gusta</dt>
		<dd>Juegos de mesa, Queso, Fútbol</dd>
		<dt>No me gusta</dt>
		<dd>El tofu (Puaj)</dd>
	</div>
</div>